:root {
  --hue: 0;
}

@font-face {
  font-family: 'Patrick Hand';
  src: url('fonts/Patrick_Hand/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/Source_Code_Pro/SourceCodePro-Regular.ttf');
}

header {
  font-family: 'Patrick Hand';
}

body {
  font-family: 'Patrick Hand';
  font-size: 1.5em;
}

button {
  font-family: 'Patrick Hand';
  border-radius: 10px;
  font-size: 1.2em;
  border: none;
  padding: 8px 16px;
  box-shadow: 0 0 1px 6px black;
  text-decoration: none;
  margin: 8px 10px;
  cursor: pointer;
  background-color: white;
}

input {
  font-family: 'Patrick Hand';
  font-size: 0.8em;
  width: 100px;
  text-align: right;
}

input, textarea {
  box-shadow: 0 0 1px 6px black;
  border-radius: 10px;
  border: none; 
  outline: none;
  margin: 10px;
}

textarea {
  resize: none;
}

button:focus, input:focus, textarea:focus {
  outline: 0;
  box-shadow: 0 0 1px 6px hsl(var(--hue), 70%, 60%);
}

h1, h2 {
  line-height: 1em;
  margin-bottom: 8px;
}