body {
    text-align: center;
    background-color: hsl(var(--hue), 100%, 88%);
}

nav {
    position: absolute;
    width: 200px;
    font-size: 0.8em;
    z-index: 2;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    text-align: center;
    text-decoration: none;
    float: right;
    padding: 2px; 
}

nav ul li img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#pet-space {
    position: relative;
    width: 200px;
    height: 100px;
    margin-bottom: 0;
}

#pet-face {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;
    z-index: 2;
}

#pet-body {
    position: absolute;
    width: 100px;
    top: 75px;
    left: 50%;
    margin-left: -50px;
    z-index: 1;
}

#message-space {
    padding-bottom: 6px;
    width: 200px;
    height: 40px;
    font-size: 24px;
    line-height: 24px;
}

.floor {
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 104px;
    border-top: solid 4px;
    z-index: -1;
}

.stuffs img {
    position: absolute;
    z-index: 3;
}

.stuffs img:hover {
    filter: drop-shadow(0 0 8px hsla(var(--hue), 100%, 50%, 100%));
    cursor: pointer;
}

#folder {
    transform: translate(60px, -30px);
}

#graph {
    transform: translate(-105px, -50px);
}

#book {
    transform: translate(-30px, -15px);
    z-index: 0;
}

#yarn {
    transform: translate(-80px, -25px);
}