body {
    background-color: hsl(var(--hue), 100%, 88%);
}

.centered {
	position: absolute;
    width: 600px;
    height: 300px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    
    display: grid;
    grid-template-areas: "left right";
}

#pet-space {
    grid-area: "left";
    width: 300px;
}

#pet-face {
    position: absolute;
    width: 256px;
    height: 256px;
    z-index: 2;
}

#pet-body {
    position: absolute;
    width: 256px;
    top: 200px;
    z-index: 1;
}

#menu-space {
    grid-area: "right";
    width: 300px;
}

#prompt {
    margin-bottom: 10px;
}

#message {
    font-size: 1.2em;
}

#buttons {
    margin-top: 10px;
}




:focus {
    outline:0;
}
  
#input-color {
    border: none;
    box-sizing: border-box;
    background-clip: border-box;
    outline: none;
    -webkit-appearance: none;

    background-image: linear-gradient(to right,
        hsl(0, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(360, 100%, 50%) );

    border-radius: 10px;
    padding: 0;
    margin: 10px 10px;
    height: 36px;
    width: 200px;
    box-shadow: 0 0 1px 6px black;
}

#input-color::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 10px;
    padding: 0;
    margin: 10px 10px;
    height: 36px;
    width: 10px;
    transform: translateX(-10px);
    border: none;
    box-shadow: 0 0 1px 6px black;
    background-color: white;
}

#input-color:active::-webkit-slider-thumb {
    box-shadow: 0 0 1px 6px hsl(var(--hue), 70%, 60%);
}